** 126<=Rollnumber + All with No RollNumbers:**
  #Task 1: Try the algo on Dataset3 - LabelEncoding of features:and Train test Division 95%-5%
 

i) Set Random state of model equals to your roll number (or last 2 digit of your id -if you don't have roll number)


**Questions: For Task - 1**

(1) What will be the value of Play, if Outlook is ’Rainy’, Temperature is ’Mild’, Humidity =’Normal’, and Wind = ’False’?

(2) What will be the value of Play, if Outlook is ’Sunny’, Temeprature is ’Cool’, Humidity =’High’, and Wind = ’True’?

(3) Accuracy , precision and recall of both Models?

In [92]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.naive_bayes import GaussianNB, MultinomialNB
from sklearn.model_selection import train_test_split

In [93]:
dataset = pd.read_csv("Dataset3.csv") 
print("Number of examples in dataset", dataset.shape)
dataset.head(15)

Number of examples in dataset (14, 5)

   Outlook Temp Wind  Humidity  Class
0        R    H    F         1      0
1        R    H    T         2      0
2        O    H    F         1      1
3        R    M    F         1      1
4        S    C    F         1      1
5        O    C    T         0      0
6        O    C    T         1      1
7        R    M    F         1      0
8        O    C    F         0      1
9        S    M    F         2      1
10       R    C    T         2      0
11       O    M    T         0      1
12       O    H    F         1      1
13       S    M    T         1      0

In [94]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Outlook   14 non-null     object
 1   Temp      14 non-null     object
 2   Wind      14 non-null     object
 3   Humidity  14 non-null     int64
 4   Class     14 non-null     int64
dtypes: int64(2), object(3)
memory usage: 688.0+ bytes

In [95]:
start = "\033[1m"
end = "\033[0;0m"

print(start +"Unique outlook values" +end, dataset['Outlook'].unique())
print(start +"Unique Temp values" +end, dataset['Temp'].unique())
print(start +"Unique Wind values" +end, dataset['Wind'].unique())
print(start +"Unique Humidity values" +end, dataset['Humidity'].unique())
print(start +"Unique Class values" +end, dataset['Class'].unique())

Unique outlook values ['R' 'O' 'S']
Unique Temp values ['H' 'M' 'C']
Unique Wind values ['F' 'T']
Unique Humidity values [1 2 0]
Unique Class values [0 1]

In [96]:
print(dataset.iloc[:,0:3])
print(dataset.dtypes)
#creating labelEncoder
le = LabelEncoder()
# dataset['Outlook'] == dataset.Outlook
dataset['Outlook'] = le.fit_transform(dataset.Outlook)
dataset['Temp'] = le.fit_transform(dataset.Temp)
dataset['Wind'] = le.fit_transform(dataset.Wind)

print(dataset.iloc[:,0:3])

print(dataset.dtypes)

   Outlook Temp Wind
0        R    H    F
1        R    H    T
2        O    H    F
3        R    M    F
4        S    C    F
5        O    C    T
6        O    C    T
7        R    M    F
8        O    C    F
9        S    M    F
10       R    C    T
11       O    M    T
12       O    H    F
13       S    M    T
Outlook     object
Temp        object
Wind        object
Humidity     int64
Class        int64
dtype: object
    Outlook  Temp  Wind
0         1     1     0
1         1     1     1
2         0     1     0
3         1     2     0
4         2     0     0
5         0     0     1
6         0     0     1
7         1     2     0
8         0     0     0
9         2     2     0
10        1     0     1
11        0     2     1
12        0     1     0
13        2     2     1
Outlook     int64
Temp        int64
Wind        int64
Humidity    int64
Class       int64
dtype: object

In [97]:
labels = dataset.Class
data_train,data_test,train_target,test_target =train_test_split(dataset.iloc[:,:-1],labels,test_size =0.05,random_state=126)

# print(data_train)
# print("#################")
# print(data_test)
# print("#################")
# print(train_target)
# print("#################")
# print(test_target)
# print("#################")

In [98]:
gnb = GaussianNB()

#Train the model using the training sets
gnb.fit(data_train, train_target)

#Predict the response for test dataset
target_pred = gnb.predict(data_test)

print(target_pred)

[1]

In [99]:
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics

# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(test_target, target_pred))

Accuracy: 1.0

In [100]:
#Import confusion_matrix from scikit-learn metrics module for confusion_matrix
from sklearn.metrics import confusion_matrix
confusion_matrix(test_target, target_pred)

array([[1]])

In [101]:
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score

precision = precision_score(test_target, target_pred, average=None)
recall = recall_score(test_target, target_pred, average=None)

print('precision: {}'.format(precision))
print('recall: {}'.format(recall))

precision: [1.]
recall: [1.]

**Outlook**
- R -> 1
- O -> 0
- S -> 2

**Temp**
- H -> 1
- M -> 2
- C -> 0

**Wind**
- F -> 0
- T -> 1

**Humidity**
- HIGH -> 2
-  LOW  -> 0
-  NORMAL -> 1

(1) What will be the value of Play, if Outlook is ’Rainy’, Temperature is ’Mild’, Humidity =’Normal’, and Wind = ’False’?

In [102]:
# Outlook	Temp	Wind	Humidit
var1 = [1,2,0,1]

(2) What will be the value of Play, if Outlook is ’Sunny’, Temeprature is ’Cool’, Humidity =’High’, and Wind = ’True’?

In [103]:
var2 = [2,0,1,2]

In [104]:
q1 = pd.DataFrame([var1,var2],columns=["Outlook",	"Temp"	,"Wind",	"Humidity"])
result = gnb.predict(q1)
print(result)

[1 0]